#container {
    width:60%;
    height:auto;
    padding:20px;
    background-color: black;
    margin: auto;
}

#first, #second, #third{
    color: rgb(95, 93, 93);
    border-collapse: collapse;
    border: none;
    width: 100%;
    margin-bottom: 30px;
    
}

th {
    color:white;
    font-family: 'sans-serif';
}

#first th, #first td, #third th, #third td {
    height: 20px;
    line-height: 18px;
    text-align: left;
    padding: 5px 0 5px 5px;
    width:25%;
    font-family: 'sans-serif';
}

#second tr th:first-child, #second tr td:first-child {
    height: 20px;
    line-height: 18px;
    text-align: left;
    padding: 5px 0 5px 5px;
    width:30%;
    font-family: 'asns-serif';
}

tr:nth-child(2n+1) {
    background-color: rgb(202, 198, 198);
}

tr:nth-child(2n) {
    background-color: rgb(231, 231, 231);
}

#first tr:first-child{
    background-color: rgb(199, 136, 20);
}

#second th:nth-child(n), #second td:nth-child(n) {
    width:12.5%;
    height: 20px;
    line-height: 18px;
    text-align: left;
    padding: 5px 0 5px 5px;
}

#second tr:first-child{
    background-color: rgb(9, 172, 63);
}

#third tr:first-child{
    background-color: rgb(27, 57, 228);
}

#third {margin-bottom: 0;}

#third tr td:first-child, #third tr td:last-child {
    width: 20%;
}

#third tr td:nth-child(2), #third tr td:nth-child(3) {
    width:30%;
}